.btn {
	border: none;
	border-radius: 35px;
	color: white;
	font-size: 15px;
	padding: 10px 30px;
}

.btn.-white {
	border: 2px solid white;
	background-color: #8e3ddb;
	margin-bottom: 30px;
}

.btn.-red {
	background-color: #fb0275;
}