.header {
	font-family: sans-serif, Geneva;
	padding-top: 23px;
	font-weight: 900;
	display: flex;
	justify-content: space-around;
	line-height: 50px;
}

.header__right.-desktop {
	justify-content: space-around;
}

.header__controls {
	font-size: 10px;
}

.phone > a {
	color: #fff;
}

.navigation {
	display: flex;
	font-size: 12px;
}

.navigation > a {
	color: #fff;
}

.section__content {
	display: flex;
	flex-direction: row;
}

.main__order {
}

@media screen and (max-width: 768px) {
	.header__right.-mobile {
		display: block;
	}

	.header__right.-desktop {
		display: none;
	}
}

@media screen and (min-width: 769px) {
	.header__right.-mobile {
		display: none;
	}

	.header__right.-desktop {
		display: flex;
	}
}